.music{
	text-align: center;
	margin-top: 50px;
}
.lyric{
	text-align: center;
	margin-top: 50px;
	background: url(http://c.hiphotos.baidu.com/baike/c0%3Dbaike116%2C5%2C5%2C116%2C38/sign=99ca26008e1001e95a311c5dd9671089/95eef01f3a292df5daf8c3fcbf315c6034a8731b.jpg);
	background-repeat: no-repeat;
}
.vedio{
	text-align: center;
	margin: 50px;
	
}
